.wrapper {
	background:url(img/bg.jpg);
	background-size:cover;
	height:100vh;
}	
	
body {	
		margin:0;
}
	
.menu {
	list-style:none;
	margin:0;
	padding:0;
	font-size:24px;
	font-family:Verdana;
}

.menu li {
	display:inline-block;
}

.menu a {
	display:block;
	text-decoration:none;
	color:green;
	padding-top:20px;
	padding-bottom:20px;
	padding-right:30px;
	padding-left:30px;
}

.menu a:hover {
	color:blue;
}	

.menu a.active {
	color:lime;
}
	
	
.header {
	display:flex;
	align-items:center;
	gap:150px;
}
/* Головна */
.main-img {
	float:right;
}

.main {
	width:1000px;
	margin:0 auto;
	padding-top:100px;
}

.main-title {
	color:blue;
	font-size:40px;
	font-family:Verdana;
}

.subtitle {
	color:white;
	font-style:italic;
}

.button {
	width:140px;
	height:60px;
	font-family:Verdana;
	font-size:18px;
	border-radius:6px;
	background-color:violet;
	border:4px double purple;
}

.button a {
	text-decoration:none;
	color:purple;
}

.button:hover {
	background-color:transparent;
	border:4px double white;
}

.amochus {
	float:left;
	height:500px;
}

.aboba {
	text-align:center;
}

.null {
	font-size:25px;
}

/* товари */
.tovars {
	text-align:center;
	 background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(0,239,236,1) 50%, rgba(243,0,33,1) 100%); 
}

.tovars ul {
	list-style:none;
	margin:0;
	padding:0;
}

.tovars-title {
	color:blue;
	font-family:verdana;
	letter-spacing:3px;
}

.tovars-subtitle {
	font-style:italic;
	color:green;
	font-size:30px;
}

.name {
	color:red;
}

.price {
	color:yellow;
	font-size:20px;
}

.robo:hover {
	transform:rotate(1turn);
	border: 5px solid blue;
}

.robo {
	transition:all 1s;
	height:100px;
}

.USD {
	color:purple;
}

.cartina {
	float:left;
}


.bobsk3000 {
	float:left;
}

.logo {
	width:50px;
}

















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































